/* Universal Styles */

html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #454343
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #454343;
}

h4 {
  font-size: 1.25rem;
  font-weight: bold;
  color: #454343;
}

.main-content {
  position: relative;
  top: 4rem; /* To offset for fixed header. */
}

.center {
  text-align: center;
}


.image_container {
  overflow: hidden;
}

.image_container img {
  max-width: 100%;
  height: auto;
  display: block;
 }

}

@media only screen and (max-width: 760px) {
  .main-content {
    top: 2rem;
  }
}

/* Header */

header {
  position: fixed;
  height: 4rem;
  width: 100%;
  background-color: white;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .logo {
  display: flex;
  align-items: center;
}

.logo img {
  padding-left: 2rem;
  height: 100%;
}

.logo p {
  padding-left: .5rem;
  padding-top: .5rem;
  font-size: 1.5rem;
}

.academy {
  color: #8a8785;
}

header nav ul {
  display: flex;
  align-items: center;
}

nav li {
  border-right: 1rem solid #7DFFF2;
}

#last {
  border-right: none;
  padding-right: 2rem;
}

nav a {
  line-height: 4rem;
  font-size: 1rem;
  font-weight: 200;
  color: grey;
}

header .mobile {
  display: none;
}

@media only screen and (max-width: 760px) {
  header .desktop {
    display: none;
  }

  header .logo {
    display: none;
  }

  header .mobile {
    display: block;
    width: 100%;
  }

  header .content {
    padding: .5rem 0;
  }

  header .mobile ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  header .mobile li {
    padding: 0;
    border-right: none;
  }

}

/* Banner Section */

.banner {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: #e8e3e0;
  padding: 2rem 3rem;

}

.banner img {
  width: 60%;
}

.banner_text {
  width: 40%;
  padding: 6.25rem 2rem;
}

.banner_text h1,h4 {
  text-align: left;
  padding-bottom: 2rem;
}

 .button {
  padding: .5rem;
  max-width: 90%;
  background-color: #8a8785;
  font: verdana;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 4px;
}

.button p {
  color: white;
}

@media only screen and (max-width: 760px) {
  .banner {
    display: flex;
    justify-content: space-between
    padding-top: 1rem;

  }

  .banner_text {
    padding: 2rem;
    width: 30%
  }

  .banner_text h1 {
    font-size: 2rem;

  }

  .banner_text h4 {
    font-size: 1rem;

  }
}

@media only screen and (max-width: 450px) {
  .banner {
    width: 100%
    display: flex;
    padding: 0;
    flex-direction: column;
    text-align: center;
    align-items: center;

  }

  .banner img {
    width: 100%;
  }

  .banner_text {
    padding: 1rem;
    width: 80%;

  }

  .banner_text h1,h4 {
    text-align: left;
    padding-bottom: 1rem;
  }

  .button p {
    color: white;
  }

}


/* Information Section */

.information_section {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2rem 3rem;
}

.information_section .mobile {
  display: none;
}

.feature {
  width: 100%;
}

.left {
 width: 60%;

}

.right {
 width: 40%;

}

.information_photo {
  padding-bottom: 3rem;
  width: 100%;
  overflow: hidden;

}

.feature .content h2, h3 {
  padding-bottom: 2rem;
  line-height: 1.15rem;
}

.feature .image-container {
  overflow: hidden;

}

.feature img {
  max-width: 100%;
  height: auto;
}

.feature_info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%
  padding: 1rem;
  margin-bottom: 3.5rem;
  padding-left: 1.5rem;

}

.feature_info .image_container {
  width: 35%;
  height: auto;
  padding-left: 2rem;
}

.feature_info img {
  width: 100%
  overflow: hidden;
}

.feature_info .content {
  padding-left: 1rem;
  width: 65%;
}

.content h4,p {
  padding-bottom: 1rem;
}

.content p {
  color: #3971d9;
}

@media only screen and (max-width: 450px) {
  .information_section {
    padding: 0;
    padding-top: 1rem;
    width: 100%;
    height: auto;
    overflow: hidden;

  }

  .information_section .desktop {
    display: none;
  }

  .information_section .mobile {
    display: block;
    width: 100%;
    overflow: hidden;

  }

  .mobile img {
    width: 100%
    overflow: hidden;

  }

  .left {
   display: none;
  }

  .right {
    display: flex;
    width: 100%;
    flex-direction: column;
    padding: 0;
  }

  .feature_info {
    margin: 1rem;
    padding: 0;
    width: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .feature_info .content {
  padding-left: 1rem;
  padding-bottom: 2rem;
  padding-top: 1rem;
  width: 100%;
}


  .feature_info .image_container {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0;
  }

  .feature_info .content {
    padding-left: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    width: 100%;
}

}

/* Courses Section */

.courses_sectiontop {
  background-color: #e8e3e0;
}

#mobile1 {
  display: none;
}

.title h2 {
  text-align: center;
  padding-top: 2rem;
}

.courses_section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding-left: 1rem;
  padding-bottom: 2rem;
  background-color: #e8e3e0;
  margin: 0 auto;
}

.course  {
  margin: 1rem;
  width: 26%;
  padding: 1rem;
  background-color: white;
}

.course .image-container {
  width: 100%;
  height: auto;
  overflow: hidden;

}

.course img {
  display: block;
  max-width: 100%;
}

.course .content {
  padding-top: 1rem;
  padding-left: 1rem;
  padding-bottom: .5rem;

}

.course h2, h5 {
  padding-bottom: .5rem;
}

.course h5 {
  color: #8a8785;
}

@media only screen and (max-width: 450px) {

.courses_sectiontop {
  background-color: white;
  border-top: .1rem solid #e8e3e0;
  border-bottom: .1rem solid #e8e3e0;
}

  .course {
    display: none;
  }

  .courses_section {
    padding: 0;
    margin: 0 auto;
  }

#mobile1 {
    color: #8a8785;
    font-size: 1.25rem;
    font-weight: 150;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: block;
    padding: 1rem 1rem 2rem 1rem;
    background-color: #e8e3e0;
  }

}

/* Thesis Section  */

.thesis {
  display: flex;
  flex-direction: row;
  background-color: white;
  padding: 2rem .5rem 2rem 3rem;

}

.thesis_section .mobile {
  display: none;
}

.thesis_item {
  width: 100%;
}

.left2 {
 width: 60%;

}

.right2 {
 width: 40%;
}

.thesis .video_container {
  height: auto;
  overflow: hidden;
  padding-top: 0rem;
}

.thesis video {
  max-width: 100%;
  height: auto;
}

.thesis .content h3, p {
  padding-bottom: 2rem;
  color: #454343;
}

#thesis_font {
  color: #454343;
  padding-top: .5rem;
  line-height: 1.15rem;
}

.thesis_item  .image_container {
  overflow: hidden;
}

.thesis_item img {
  max-width: 100%;
  height: auto;
}

.thesis_info {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1rem;
  padding-left: 1.5rem;

}

#top {
  background-color: #e8e3e0;
}

.thesis_info .image_container {
  width: 35%;
  height: auto;
  margin-left: 0rem;
}

.thesis_info img {
  width: 100%
  overflow: hidden;
}

.thesis_info .content {
  padding-left: 1rem;
  padding-top: 1rem;
  width: 65%;
}

.content h3, p {
  padding-bottom: 1rem;
}

@media only screen and (max-width: 450px) {
 .thesis {
   margin: 0;
   padding: 0;
   width: 100%;

 }

.thesis_item .desktop {
    display: none;
  }

  .right2 {
    display: none;
  }

.left2 {
    width: 100%;
    padding: 0;
  }

  .content h3, p {
    padding-bottom: 0rem;
    color: black;
  }


.thesis .video_container {
  height: auto;
  overflow: hidden;
  padding-top: 1rem;
}
}

/* Footer */

footer {
  background-color: #e8e3e0;
}

footer .content {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

footer .content p {
  color: #454343;
  font-size: .75rem;
}

footer .copyright {
  flex-grow: 1;
}

@media only screen and (min-width: 760px) {
  footer .content {
    font-size: .625rem;
  }
}
